<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= I18n.t('api.emails.welcome_message.subject') %>, <%= @user.name %></h1>
    <p>
      <%= I18n.t('api.emails.welcome_message.url') %> <%= @url %>.
    </p>
  </body>
</html>
