<!DOCTYPE html>
<html>
  <head>
    <title>Target Admin</title>
    <%= stylesheet_link_tag  "application" %>
    <%= favicon_link_tag 'favicon.ico' %>
   </head>
  <body>
    <%= yield %>
   </body>
</html>